name: C/C++ CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 20

    steps:
      - uses: actions/checkout@v2

      - name: Install pdflatex
        run: sudo apt-get install texlive-latex-base texlive-latex-recommended texlive-latex-extra

      - name: Install clang-format
        run: sudo apt install clang-format

      - name: Run make format
        run: sh ./scripts/validate-formatting.sh

      - name: Build pdf
        run: make kactl
    # - name: Run compiles
    #   run: make test-compiles
    # - name: Run stress tests
    #   run: make test
